{% extends "base.html.twig" %}

{% block body %}
    <div class="card">
        <h4 class="card-header">{{ email.senderEmail }}</h4>
        <div class="card-body">
            <h5 class="card-title">{{ email.subject }}</h5>
            <div>{{ email.body|raw }}</div>
        </div>
        <div class="card-footer">
            <div class="row">
                {% if attachments is defined and attachments is not null %}
                    {% for attachment in attachments %}
                        <div class="col">
                            {% if attachment.errorKind != constant('UPLOAD_ERR_OK') %}
                                {% if attachment.errorKind == constant('UPLOAD_ERR_INI_SIZE')  %}
                                    <p>{{ attachment.filename }} : UPLOAD_ERR_INI_SIZE</p>
                                {% elseif attachment.errorKind == constant('UPLOAD_ERR_FORM_SIZE')  %}
                                    <p>{{ attachment.filename }} : UPLOAD_ERR_FORM_SIZE</p>
                                {% elseif attachment.errorKind == constant('UPLOAD_ERR_PARTIAL')  %}
                                    <p>{{ attachment.filename }} : UPLOAD_ERR_PARTIAL</p>
                                {% elseif attachment.errorKind == constant('UPLOAD_ERR_NO_FILE')  %}
                                    <p>{{ attachment.filename }} : UPLOAD_ERR_NO_FILE</p>
                                {% elseif attachment.errorKind == constant('UPLOAD_ERR_NO_TMP_DIR')  %}
                                    <p>{{ attachment.filename }} : UPLOAD_ERR_NO_TMP_DIR</p>
                                {% elseif attachment.errorKind == constant('UPLOAD_ERR_CANT_WRITE')  %}
                                    <p>{{ attachment.filename }} : UPLOAD_ERR_CANT_WRITE</p>
                                {% elseif attachment.errorKind == constant('UPLOAD_ERR_EXTENSION')  %}
                                    <p>{{ attachment.filename }} : UPLOAD_ERR_EXTENSION</p>
                                {% elseif attachment.errorKind == constant('GUZZLE_EXCEPTION')  %}
                                    <p>{{ attachment.filename }} : GUZZLE_EXCEPTION</p>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('dl_attachment', {'id' : attachment.id}) }}">Télécharger {{ attachment.filename }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}