{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des emails</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Expéditeur</th>
        <th scope="col">Objet</th>
        <th scope="col">Date d'envoi</th>
        <th scope="col">Pièce jointe</th>
        <th scope="col">Télécharger pièce jointe</th>
        <th scope="col">Body</th>
    </tr>
    </thead>
    <tbody>
    {% if emails is not null and emails is defined%}
        {% for email in emails %}
            <tr>
                <td>{{ email.senderEmail }}</td>
                <td>{{ email.subject}}</td>
                <td>{{ email.timestamp|date('d/m/Y H:i:s') }}</td>
                <td>{{ email.nbAttachment }}</td>
                <td>

        {% for file in email.attachments %}
                    <a href="{{ path('dl_attachment', {'id' : file} ) }}">Télécharger pièce jointe</a>
        {% endfor %}
                </td>
                <td>{{ email.body|raw }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

{% endblock %}