{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des emails</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Expéditeur</th>
        <th scope="col">Objet</th>
        <th scope="col">Date d'envoi</th>
        <th scope="col">Nombre de pièce jointe</th>
        <th scope="col">Lire</th>
    </tr>
    </thead>
    <tbody>
    {% if conversations is not null and conversations is defined %}
        {% for conversation in conversations %}
            {% set lastMessage = conversation.emails|last %}
            <tr id="conversation-{{ conversation.id }}">
                <td>{{ lastMessage.senderEmail }}</td>
                <td>{{ lastMessage.subject}}</td>
                <td>{{ lastMessage.timestamp|date('d/m/Y H:i:s') }}</td>
                <td>{{ lastMessage.attachments|length }}</td>
                <td><a href="{{ path('get_conversation_content', {'id' : conversation.id} ) }}"><button class="btn btn-primary">Lire</button></a></td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

{% endblock %}