{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des emails</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Expéditeur</th>
        <th scope="col">Objet</th>
        <th scope="col">Date d'envoi</th>
        <th scope="col">Pièce jointe</th>
        <th scope="col">Lire</th>
    </tr>
    </thead>
    <tbody>
    {% if emails is not null and emails is defined%}
        {% for email in emails %}
            <tr>
                <td>{{ email.senderEmail }}</td>
                <td>{{ email.subject}}</td>
                <td>{{ email.timestamp|date('d/m/Y H:i:s') }}</td>
                <td>{{ email.nbAttachment }}</td>
                <td><a href="{{ path('get_email_content', {'id' : email.id} ) }}"><button class="btn btn-primary">Lire</button></a></td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

{% endblock %}